<section id="about" class="d-flex flex-row">
    <div class="container">
      <div class="d-flex" id="aboutWrapper">
        <div class="flex-40">
          <h1 class="heading">About The Hungry Recipes</h1>
        </div>
        <div class="d-flex flex-col flex-60">
          <p>
            <strong>The Hungry Recipes</strong> is powered by the free API provided by 
            <a href="https://www.themealdb.com/" target="_blank" title="TheMealDB.com">TheMealDB</a>, 
            an open source database of recipes from around the world.
          </p>
          <p>
            Users can search for specific recipes or experiment with a random recipe to get some inspiration.
            <br/><br/>
            Github - <a href="https://github.com/NitinNair89/TheHungryRecipesApp" title="The Hungry Recipes App on Github" target="_blank">https://github.com/NitinNair89/TheHungryRecipesApp</a>
            <br/>
            HTML-only version - <a href="https://github.com/NitinNair89/TheHungryRecipesHTML" title="The Hungry Recipes App on Github" target="_blank">https://github.com/NitinNair89/TheHungryRecipesHTML</a>
          </p>
          <div class="d-flex">
            <img src="https://img.shields.io/github/license/NitinNair89/TheHungryRecipesApp" alt="License" />
            <img src="https://img.shields.io/github/issues/NitinNair89/TheHungryRecipesApp" alt="Issues" />
            <img src="https://img.shields.io/github/stars/NitinNair89/TheHungryRecipesApp" alt="Stars" />
            <img src="https://img.shields.io/github/forks/NitinNair89/TheHungryRecipesApp" alt="Forks" />
            <img src="https://img.shields.io/github/contributors/NitinNair89/TheHungryRecipesApp" alt="Contributors" />
          </div>
        </div>
      </div>
    </div>
</section>