<section id="category">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <img id="categoryThumb" src="{{categoryInfo.strCategoryThumb}}" alt="" title="" />
            </div>
            <div class="eight columns">
                <aside>
                    <h3>{{categoryName | uppercase}}</h3>
                    <p>{{categoryInfo.strCategoryDescription}}</p>
                </aside>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div id="grid">
                    <mat-card *ngFor="let meal of recipesBySpecificCategory">
                        <img mat-card-image src="{{meal.strMealThumb}}" alt="">
                        <mat-card-content>
                            <h5>{{meal.strMeal}}</h5>
                        </mat-card-content>
                        <mat-card-actions>
                            <a mat-raised-button title="View this recipe" routerLink="/recipe/{{meal.idMeal}}">Recipe</a>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</section>