#category {
    margin-top: 20px;
}
#categoryThumb {
    height: 100%;
    width:  100%
}
#category h3 {
    margin-bottom: 10px
}
.mat-card {
    margin-bottom: 20px
}
.mat-card-image,
.mat-card-content {
    margin-bottom: 0
}
#grid {
    margin-top:20px;
    height: 100%;
    display: grid;
    grid-gap: 10px 10px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
  }