<nav>
    <mat-toolbar>
        <div class="container">
            <a routerLink="/" class="brand" title="The Hungry Recipes App">The Hungry Recipes</a>
            <ul class="navbar" id="menuList">
                <li class="nav-item">
                    <a tabindex="0" class="nav-link" routerLink="random" title="Fetch a random recipe" aria-label="Fetch a random recipe">Random</a>
                </li>
                <li class="nav-item">
                    <a tabindex="0" class="nav-link" routerLink="about" title="About the Hungry Recipes App" title="Know more about the Hungry Recipes App">About</a>
                </li>
                <li class="nav-item">
                    <a tabindex="0" class="nav-link theme-button" title="Themes of the Hungry Recipes App" title="Change themes of the Hungry Recipes App" [matMenuTriggerFor]="subMenu">Themes</a>
                </li>
                <li class="nav-item" style="display: none;">
                    <a tabindex="0" class="nav-link" routerLink="login" title="Log in to save your favorite recipes" aria-label="Log in to save your favorite recipes">Login</a>
                </li>
            </ul>
            <mat-icon id="menuToggler" [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <mat-menu #menu="matMenu">
                <a tabindex="0" mat-menu-item routerLink="random" title="Fetch a random recipe" aria-label="Fetch a random recipe">Random</a>
                <a tabindex="0" mat-menu-item routerLink="about" title="About the Hungry Recipes App" title="Know more about the Hungry Recipes App">About</a>
                <a tabindex="0" mat-menu-item title="Themes of the Hungry Recipes App" title="Change themes of the Hungry Recipes App" [matMenuTriggerFor]="subMenu">Themes</a>
                <mat-divider  style="display: none;"></mat-divider>
                <a tabindex="0" mat-menu-item routerLink="login"  style="display: none;" title="Log in to save your favorite recipes" aria-label="Log in to save your favorite recipes">Login</a>
            </mat-menu>
            <mat-menu #subMenu="matMenu">
                <button mat-menu-item (click)="changeThemeToLeafyGreen()">Leafy Green</button>
                <button mat-menu-item (click)="changeThemeToStarvingRed()">Starving Red</button>
                <button mat-menu-item (click)="changeThemeToChaiOrange()">Chai Orange</button>
             </mat-menu>
        </div>
    </mat-toolbar>
</nav>