<section id="random" class="d-flex flex-row">
    <div class="container">
      <div class="d-flex" id="randomWrapper">
        <div class="flex-40">
          <h1 class="heading">The Random Recipe</h1>
        </div>
        <div class="d-flex flex-col flex-60">
          <div class="btnGroup">
            <a tabindex="0" class="button btnSearchRecipe" routerLink="/landing" title="Search recipe">
              <span>Search Recipe</span>
            </a>
            <button tabindex="0" class="button btnRandomRecipe" title="Show a random recipe" (click)="fetchRandomRecipe()">
              <span>Another Recipe</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="four columns">
          <img id="randomMealImg" src="{{ meal?.thumb }}" title="{{ meal?.name }} thumbnail image" alt="{{ meal?.name }} thumbnail image" />
        </div>
        <div class="eight columns mealMetadata" id="randomMealMetadata">
          <ul>
            <li *ngFor = "let items of meal?.ingredients">
              {{ items }}
            </li>
          </ul>
          <div class="row">
            <div class="columns">
              <a *ngIf="meal?.youtubeLink" href="{{ meal?.youtubeLink }}">Watch on YouTube</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <h5>{{ meal?.name }}</h5>
          <p id="mealInstructions">{{ meal?.instructions }}</p>
        </div>
      </div>
    </div>
  </section>
