<div class="background">
    <mat-card class="cardStyle mat-elevation-z12">
        <mat-grid-list cols="2" rowHeight="100%">
            <!--App Title-->
            <mat-grid-tile class="tile1" cols="1" row="2">
                <h1>The Hungry Recipes</h1>
            </mat-grid-tile>
            <!--Login/Registration-->
            <mat-grid-tile class="tile2" cols="1" row="2">
                <mat-tab-group class="tabStyle"> 
                    <mat-tab label="Login">
                        <br/>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your email</mat-label>
                            <input matInput/>
                        </mat-form-field>
                        <br/>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <input matInput/>
                        </mat-form-field>
                        <br/>
                        <button mat-raised-button>Login</button>
                    </mat-tab>
                    <mat-tab label="Register">
                        <app-registration></app-registration>
                    </mat-tab>
                </mat-tab-group>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>
