<section id="about" class="d-flex flex-row">
    <div class="container">
      <div class="d-flex" id="aboutWrapper">
        <div class="flex-40">
          <h1 class="heading">About The Hungry Recipes</h1>
        </div>
        <div class="d-flex flex-col flex-60">
          <p>
            <strong>The Hungry Recipes</strong> is created by Midlaj.
          </p>
          <p>
            Users can search for specific recipes or experiment with a random recipe to get some inspiration.
            <br/><br/>
            Github - <a href="https://github.com/NitinNair89/TheHungryRecipesApp" title="The Hungry Recipes App on Github" target="_blank">https://github.com/NitinNair89/TheHungryRecipesApp</a>
            <br/>
          </p>
          
        </div>
      </div>
    </div>
</section>