<section id="landing" class="d-flex flex-row">
    <div class="container">
      <div class="d-flex" id="landingWrapper">
        <div class="flex-40">
          <h1 class="heading">The Hungry Recipes</h1>
        </div>
        <div class="d-flex flex-col flex-60">
          <div>
            <h4>Confused what to cook? <br/>
              <small>Search a recipe or try a random recipe!</small>
            </h4>
            <input class="u-full-width mb-0" type="text" placeholder="Search for recipes" id="searchRecipe" #name (keyup)="update(name.value)" (blur.enter)="update(name.value)" />
            <label class="error-text mb-0" *ngIf="inputError">Please provide a recipe name</label>
          </div>
  
          <div class="btnGroup">
            <a type="button" mat-button color="primary" tabindex="0" class="button btnSearchRecipe" title="Search for a recipe" (click)="navigate()">
              <span>Search Recipe</span>
            </a>
            <a routerLink="/random" mat-button color="primary" tabindex="0" class="button btnRandomRecipe" title="Show a random recipe">
              <span>Random Recipe</span>
            </a>
          </div>
  
          <div class="row">
            <div class="twelve columns">
              <ul class="navbar u-full-width" id="NavBarCategory">
                <li class="nav-item" *ngFor = "let category of allCategories">
                  <a tabindex="0" class="navbar-meal-category" routerLink="category/{{category.strCategory}}">{{category.strCategory}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>