#random {
    margin-top: 30px
}
.btnGroup {
    margin-bottom: 20px
}
.btnGroup .button:first-of-type {
    margin-right: 20px
}
#randomMealImg {
    height: 80%;
    width: 80%
}
#randomMealMetadata {
    font-size: 0.90em;
}
#mealInstructions {
    margin-top: 10px;
    margin-bottom: 0;
}
h5 {
    margin-bottom: 10px
}
.heading {
    margin-bottom: 10px
}